body{
    margin: 100px;
    background: gray;
    text-align: center;
    border: 20px chartreuse;
    position: relative;
    right: 150px;
}

img{
    float: right;
    border: 20px red;
    position: relative;
}